<h1 class="page-header">Register</h1>
<form (submit)="onRegisterSubmit()">
    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control" id="Name">
    </div>
    <div class="form-group">
      <label for="Username">Username</label>
      <input type="text" [(ngModel)]="username" name="username" class="form-control" id="Username" >
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" id="Email" >
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="Password" >
      </div>
      <input type="submit" value="Submit" class="btn btn-primary">
  </form>